<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'si&su.css' %}" rel="stylesheet" type="text/css" />
    <title>SignIn & SignUp Project</title>
</head>
<body>
    <section class="heading">
    <h1>SignIn & SignUp </h1>
    <h1>Web App </h1>
    
    </section>
 <section class="para">
    <p>It’s a web app which stores user's data in a DATABASE,
     like username, password, e-mail </p>
 </section>  
 
 <section class="bottom" >
    <article class="madewith">
     <h2>Made With :</h2>
     <div class="icons">
        <li><img src="{% static 'mw py.png' %}" alt=""></li>
        <li><img src="{% static 'mw dj.png' %}" alt=""></li>
        <li><img src="{% static 'mw html.png' %}" alt=""></li>
        <li><img src="{% static 'mw css.png' %}" alt=""></li>

     </div>
    </article>
    <article class="git">
        <li><a href="https://github.com/Arv-ultraPy-developer/wax-cake" target="_blank"><img src="{% static 'mw git.png' %}" alt=""><h3>GitHub</h3></a></li>
        <a href="/project"><h4>Return</h4></a>
    </article>
 </section>



</body>
</html>